<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JetsamPriority</key>
	<integer>10</integer>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>NEProviderConfiguration</key>
	<dict>
		<key>BufferSize</key>
		<integer>32768</integer>
		<key>IdleTimeout</key>
		<integer>10</integer>
		<key>MaxConnections</key>
		<integer>25</integer>
	</dict>
	<key>NSAllowsArbitraryLoadsInWebContent</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NEDisableConnectionStatistics</key>
			<true/>
			<key>NEProviderMemoryManagement</key>
			<string>aggressive</string>
			<key>ProcessPriority</key>
			<string>utility</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.networkextension.packet-tunnel</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PacketTunnelProvider</string>
	</dict>
</dict>
</plist>
